* {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover,
a:active {
  color: #44a9f8;
  cursor: pointer;
}

a:visited {
  color: black;
}

body {
  background-color: white;
}

button {
  margin: 4px;
  cursor: pointer;
}

.company-list,
  {
  height: 250px;
}

.contenteditable {
  background: #EAEAEA;
}

.create-new-company {
  border: 1px solid #C7E4FF;
  background-color: #44aaf83c;
  border-radius: 10px;
}

fieldset {
  border: none;
  text-align: left;
}

form {
  padding: 5px;
}

h1 {
  margin-bottom: 10px;
}

input,
select {
  padding-left: 3px;
  height: 25px;
  margin: 2px;
}

li {
  list-style: none;
  margin: 2px;
}

.logo {
  margin-left: 10px;
  margin-bottom: 10px;
}

nav {
  font-size: 20px;
}

.nav-logo {
  margin: 20px;
}

.newCompany {
  background: linear-gradient(to right, white, #44aaf87c);
  border: 1px solid silver;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  -webkit-box-shadow: 0 8px 6px -6px rgb(181, 179, 179);
  -moz-box-shadow: 0 8px 6px -6px rgb(181, 179, 179);
  box-shadow: 0 8px 6px -6px rgb(181, 179, 179);
}

.submit {
  cursor: pointer;
  margin: 5px;
}